###############################################################################
#
#      Input file for OASIS3
# 
#      This version is for use with ECHAM5 fluxes and
#      surface conditions computed in mpi-om.
#
#      The file will be edited in the run-script to update it for the 
#      actual integration period and grid dimensions.
#
#      Modified : S. Legutke    DKRZ             29.12.02
#                 - updated from 2.4.t version
#
###############################################################################
#  
#      Input delimiters have to occupy position 1 to 9 !
#      No blank lines allowed !
#      Length of input lines <= 80 !
#
###############################################################################
#
# NFIELDS : total number of fields being exchanged.
#
 $NFIELDS
      {{oasis_nfields}}
 $END
#
###############################################################################
#
# NBMODEL : number of models and their names (CHAR*6).
#
 $NBMODEL
     2     oceanx wwatch  
 $END
#
###############################################################################
# 
# RUNTIME (<I8)
#         total simulated time for the actual run in seconds
#         the value will be set before the actual integration
#
 $RUNTIME
    {{runtime}}
 $END
#
###############################################################################
#
 $NLOGPRT
 1 1
 $END
#
###############################################################################
###########################################################################
 $NNOREST
# NECESSITY OF RESTART FILES OR NOT (TRUE)
   F
 $END
#
########################################################################
 $STRINGS
#
#
############################################################################
{{namcouple_fields}}
#############################################################################################
 $END
